<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236361572090-drj9qhpfjjmf9umfdg14hqfmvfh9tc1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236361572090-drj9qhpfjjmf9umfdg14hqfmvfh9tc1d</string>
	<key>API_KEY</key>
	<string>AIzaSyA8p475xkNppVnON-EJOMlIxvJcg4Lvz4U</string>
	<key>GCM_SENDER_ID</key>
	<string>236361572090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneApp</string>
	<key>PROJECT_ID</key>
	<string>midterm-project-instagram</string>
	<key>STORAGE_BUCKET</key>
	<string>midterm-project-instagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236361572090:ios:c14dc2cc86f8b7ba1f7343</string>
</dict>
</plist>